.flag-row {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-color);
  cursor: pointer;
  user-select: none;
  margin-block: 29px;
}

.flag-row.compact {
  margin-block: 0;
}

.flags-container {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-block: 29px;
}

paper-textfield {
  max-inline-size: 497px;
}
