<div paperCard size="m" class="menu">
  <a
    class="menu-option"
    routerLink="/constructor/home"
    size="l"
    paperText
    [activeLink]="isActive('/constructor/home')"
    [link]="true"
  >
    <div class="extended-text">
      <span>{{ labels.home }}</span>
      <span paperText size="s" [subtext]="true">{{ language != 'en' && 'Home' }}</span>
    </div>
    <paper-icon
      icon="home"
      size="xl"
      [primary]="isActive('/constructor/home')"
    ></paper-icon>
  </a>
  <a
    class="menu-option"
    routerLink="/constructor/settings"
    [activeLink]="isActive('/constructor/settings')"
    paperText
    size="l"
    [link]="true"
  >
    <div class="extended-text">
      <span>{{ labels.settings }}</span>
      <span paperText size="s" [subtext]="true">{{ language != 'en' && 'Settings' }}</span>
    </div>
    <paper-icon
      icon="settings"
      size="xl"
      [primary]="isActive('/constructor/settings')"
    ></paper-icon>
  </a>
  <a
    class="menu-option"
    routerLink="/constructor/documentation"
    [activeLink]="isActive('/constructor/documentation')"
    paperText
    size="l"
    [link]="true"
  >
    <div class="extended-text">
      <span>{{ labels.documentation }}</span>
      <span paperText size="s" [subtext]="true">{{ language != 'en' && 'Documentation' }}</span>
    </div>
    <paper-icon
      icon="library"
      size="xl"
      [primary]="isActive('/constructor/documentation')"
    ></paper-icon>
  </a>
  <a
    class="menu-option"
    routerLink="/constructor/exit"
    paperText
    size="l"
    [link]="true"
    [activeLink]="isActive('/constructor/exit')"
  >
    <div class="extended-text">
      <span>{{ labels.exit }}</span>
      <span paperText size="s" [subtext]="true">{{ language != 'en' && 'Exit' }}</span>
    </div>
    <paper-icon
      icon="exit"
      size="xl"
      [primary]="isActive('/constructor/exit')"
    ></paper-icon>
  </a>
</div>

<router-outlet />
