.container {
    position: fixed;
    top: 0;
    left: 0;
    block-size: 100%;
    inline-size: 343px;
    background: var(--menu-background);
    box-shadow: inset -1px 0 1px 0px var(--box-shadow-color);
}

.menu {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    padding: 37px 0;
}

.menu-option {
    display: flex;
    justify-content: space-between;
    padding: 29px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.menu-option:hover {
    background-color: var(--dropdown-color-hover);
    box-shadow: inset 0 0 4px 2px var(--box-shadow-color);
    border-radius: 17px;
}

.extended-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.outlet {
    margin-inline-start: 453px;
    margin-inline-end: 50px;
    margin-top: 50px;
}

@media (width <= 1300px) {
    .container {
        inline-size: auto;
    }

    .menu {
        inline-size: auto;
        left: 5px;
    }

    .extended-text {
        display: none;
    }

    .outlet {
        margin-inline-start: 153px;
    }
}