.vitrine {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    inline-size: 300px;
}

.buttons {
    padding: 50px;
    block-size: 300px;
}

.form {
    inline-size: 267px;
}

.tcp-form {
    max-inline-size: 340px;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}