<section class="create-block-form">
  <form [formGroup]="form">
    <paper-textfield size="m">
      <label paperLabel>{{ labels().blockId }}</label>
      <input paperInput type="number" formControlName="blockId" />
    </paper-textfield>

    <paper-textfield size="m">
      <label paperLabel>{{ labels().blockName }}</label>
      <input paperInput type="text" formControlName="blockName" autocomplete="off" />
    </paper-textfield>

    <label class="flag-row" paperText size="s">
      <input paperCheckbox size="m" type="checkbox" formControlName="isDemoMode" />
      {{ labels().isDemoMode }}
    </label>

    @if (!isDemoMode()) {
      <div class="flags-container">
        <paper-diving-line />
        <paper-textfield size="m">
          <label paperLabel>{{ labels().host }}</label>
          <input paperInput type="text" formControlName="mqttHost" autocomplete="off" />
        </paper-textfield>

        <paper-textfield size="m">
          <label paperLabel>{{ labels().port }}</label>
          <input paperInput type="number" formControlName="mqttPort" />
        </paper-textfield>

        <paper-textfield size="m">
          <label paperLabel>{{ labels().clientId }}</label>
          <input paperInput type="text" formControlName="clientId" autocomplete="off" />
        </paper-textfield>

        <paper-textfield size="m">
          <label paperLabel>{{ labels().topic }}</label>
          <input paperInput type="text" formControlName="topic" autocomplete="off" />
        </paper-textfield>

        <paper-textfield size="m">
          <label paperLabel>{{ labels().username }}</label>
          <input paperInput type="text" formControlName="username" autocomplete="off" />
        </paper-textfield>

        <paper-textfield size="m">
          <label paperLabel>{{ labels().password }}</label>
          <input paperInput type="password" formControlName="password" autocomplete="off" />
        </paper-textfield>
        <paper-diving-line />
      </div>

      <paper-textfield size="m">
        <paper-select-list
          formControlName="typeRequestData"
          [variants]="requestTypeVariants"
          [labelResolver]="resolveDataTypeLabel"
        >
          <label paperLabel>{{ labels().typeRequestData }}</label>
          <input paperInput readonly #inputList />
        </paper-select-list>
      </paper-textfield>

      <paper-textfield size="m">
        <paper-select-list
          formControlName="typeResponseData"
          [variants]="responseTypeVariants"
          [labelResolver]="resolveDataTypeLabel"
        >
          <label paperLabel>{{ labels().typeResponseData }}</label>
          <input paperInput readonly #inputList />
        </paper-select-list>
      </paper-textfield>

      <div class="flags-container">
        <paper-diving-line />
        <paper-textfield size="m">
          <paper-select-list
            formControlName="onDisconnectAction"
            [variants]="onDisconnectActionVariants"
            [labelResolver]="resolveOnDisconnectActionLabel"
          >
            <label paperLabel>{{ labels().onDisconnectAction }}</label>
            <input paperInput readonly #inputList />
          </paper-select-list>
        </paper-textfield>

        <label class="flag-row" paperText size="s">
          <input paperCheckbox size="m" type="checkbox" formControlName="isCanUserReconnect" />
          {{ labels().isCanUserReconnectMqtt }}
        </label>
        <paper-diving-line />
      </div>
    }
  </form>

  @if (!isDemoMode()) {
    <constructor-block-connections-ribbon
      direction="inputs"
      [matchDataType]="matchRequestType()"
      [excludeBlockId]="blockId"
      [selectedIds]="inputBlocks()"
      (selectedIdsChange)="onInputBlocksChange($event)"
      [title]="labels().inputBlocks"
    />

    <constructor-block-connections-ribbon
      direction="outputs"
      [matchDataType]="matchResponseType()"
      [excludeBlockId]="blockId"
      [selectedIds]="outputBlocks()"
      (selectedIdsChange)="onOutputBlocksChange($event)"
      [title]="labels().outputBlocks"
    />
  }
</section>
