:root {
    --substrate: #F7F7F7;
    --text-color: rgba(64, 64, 64, 1);
    --textfield-color: var(--substrate);
    --button-color: rgb(212, 243, 255);
    --hover-button-color: rgba(71, 229, 250, 0.8);
    --even-color: rgba(255, 255, 255, 0.47);
    --dropdown-color: rgba(164, 177, 198, 0.5);
    --dropdown-color-hover: rgba(255, 255, 255, 0.8);
    --border-color: #FFF;
    --placeholder: rgb(175, 175, 175);
    --theme: #ffffff;

    --font-size-xs: 10px;
    --font-size-s: 14px;
    --font-size-m: 20px;
    --font-size-l: 24px;
    --font-size-xl: 32px;
}