:root {
    --base-font: Onest, sans-serif;
    --theme-color: #FFF; 
    --substrate: #F7F7F7;
    --text-color: rgba(64, 64, 64);
    --subtext-color: rgb(105, 105, 105);
    --text-color-other-theme: #f0f0f0;
    --button-color: rgb(212, 243, 255);
    --hover-button-color: rgba(71, 229, 250, 0.8);
    --even-color: rgba(255, 255, 255, 0.47);
    --dropdown-color: rgba(164, 177, 198, 0.5);
    --dropdown-color-hover: rgba(255, 255, 255, 0.8);
    --border-color: #FFF;
    --placeholder: rgb(175, 175, 175);
    --theme: #ffffff;
    --project-bar-color: #f7f7f7;
    --modal-color: rgba(255, 255, 255, 0.87);
    --divider-color: #e0e0e0;
    --primary-color: rgba(63, 136, 201, 1);
    --disabled-checkbox: #BFC6D2;
    --box-shadow-color: rgba(250, 250, 250, 0.71);

    --glassed-color: rgba(247, 247, 247, 1);
    --sub-glassed-color: rgba(239,239,239, 1);
    --glass: linear-gradient(to bottom, var(--glassed-color) 0%, var(--sub-glassed-color) 100%);
    --textfield-color: var(--glass);

    --fade-cubic-bezier: cubic-bezier(0.05, 0.96, 0.36, 0.99);
    --fade-in-animation: fadeIn 0.7s var(--fade-cubic-bezier);

    --font-size-xs: 10px;
    --font-size-s: 14px;
    --font-size-m: 20px;
    --font-size-l: 24px;
    --font-size-xl: 32px;
}

.night-theme {
    --theme-color: #2e2e2e;
    --project-bar-color: #1a1a1a;
    --text-color: #f7f7f7;
    --subtext-color: #b3b3b3;
    --substrate: #2e2e2e;
    --box-shadow-color: rgba(255, 255, 255, 0.08);
    --glassed-color: #252525;
    --sub-glassed-color: #262626;
    --glass: linear-gradient(to bottom, var(--glassed-color) 0%, var(--sub-glassed-color) 100%);
    --textfield-color: var(--glass);
    --modal-color: rgba(255, 255, 255, 0.13);
    --divider-color: #3e3e3e;
    --primary-color: #47a9ff;
    --even-color: rgba(23, 23, 23, 0.425);
    --dropdown-color: rgba(49, 59, 74, 0.5);
    --dropdown-color-hover: rgba(105, 115, 130, 0.8);
}