<constructor-app-project-bar></constructor-app-project-bar>
<section class="project-page">
  <aside class="blocks-sidebar">
    <h1 paperText size="l" class="sidebar-title">
      {{ labels.availableBlocks }}
    </h1>

    <div class="blocks-list">
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.tcpServer }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.tcpClient }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.mqttClient }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.httpClient }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.modbusRtu }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.modbusTcp }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.comPort }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.database }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.converter }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.graphs }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.indicators }}</span><span class="add-icon">+</span>
      </div>
      <div paperCard size="m" [pointer]="true" class="block-card">
        <span>{{ labels.media }}</span><span class="add-icon">+</span>
      </div>
    </div>
  </aside>

  <main class="project-workspace"></main>
</section>
