<section class="create-block-form http-client-form">
  <form [formGroup]="form" (input)="onFormDomEvent()" (change)="onFormDomEvent()">
    <paper-textfield size="m">
      <label paperLabel>{{ labels().blockName }}</label>
      <input paperInput type="text" formControlName="blockName" autocomplete="off" />
    </paper-textfield>

    <label class="flag-row" paperText size="s">
      <input paperCheckbox size="m" type="checkbox" formControlName="isDemoMode" />
      {{ labels().isDemoMode }}
    </label>

    @if (!isDemoMode()) {
      <div class="connection-section">
        <paper-diving-line />
        <paper-textfield size="m">
          <paper-select-list
            formControlName="httpMethod"
            [variants]="httpMethods"
            [labelResolver]="resolveHttpMethodLabel"
          >
            <label paperLabel>{{ labels().httpMethod }}</label>
            <input paperInput readonly #inputList />
          </paper-select-list>
        </paper-textfield>

        <paper-textfield size="m">
          <label paperLabel>{{ labels().httpUrl }}</label>
          <input paperInput type="text" formControlName="httpUrlWithoutQueryParams" autocomplete="off" />
        </paper-textfield>
        <paper-diving-line />
      </div>

      <div class="response-section" paperCard>
        <p class="section-title" paperText size="m">{{ labels().httpResponseExtract }}</p>

        <div class="response-tabs" role="tablist">
          <button
            type="button"
            class="response-tab"
            role="tab"
            [class.active]="activeResponseTab() === 'headers'"
            [class.enabled]="extractHeaders()"
            (click)="setActiveResponseTab('headers')"
          >
            {{ labels().httpExtractHeaders }}
          </button>
          <button
            type="button"
            class="response-tab"
            role="tab"
            [class.active]="activeResponseTab() === 'body'"
            [class.enabled]="extractBody()"
            (click)="setActiveResponseTab('body')"
          >
            {{ labels().httpExtractBody }}
          </button>
          <button
            type="button"
            class="response-tab"
            role="tab"
            [class.active]="activeResponseTab() === 'cookies'"
            [class.enabled]="extractCookies()"
            (click)="setActiveResponseTab('cookies')"
          >
            {{ labels().httpExtractCookies }}
          </button>
        </div>

        <div class="response-tab-panel">
          @if (activeResponseTab() === 'headers') {
            <label class="flag-row" paperText size="s">
              <input paperCheckbox size="m" type="checkbox" formControlName="extractHeaders" />
              {{ labels().httpUseSection }}
            </label>

            @if (extractHeaders()) {
              <div class="table" formArrayName="responseHeaders">
                <div class="table-head">
                  <span>{{ labels().blockId }}</span>
                  <span>{{ labels().httpHeaderName }}</span>
                  <span></span>
                </div>
                @for (row of responseHeaders.controls; track $index; let i = $index) {
                  <div class="table-row" [formGroupName]="i">
                    <span class="id-cell" paperText size="m">{{ row.value.blockId }}</span>
                    <paper-textfield size="s">
                      <input paperInput type="text" formControlName="headerName" />
                    </paper-textfield>
                    <button type="button" paperButton size="s" (click)="removeResponseHeader(i)">
                      {{ labels().removeBlock }}
                    </button>
                  </div>
                }
                <button type="button" paperButton size="s" (click)="addResponseHeader()">
                  {{ labels().addBlock }}
                </button>
              </div>
            }
          }

          @if (activeResponseTab() === 'body') {
            <label class="flag-row" paperText size="s">
              <input paperCheckbox size="m" type="checkbox" formControlName="extractBody" />
              {{ labels().httpUseSection }}
            </label>

            @if (extractBody()) {
              <paper-textfield size="m">
                <paper-select-list
                  formControlName="bodyKind"
                  [variants]="bodyKindVariants"
                  [labelResolver]="resolveBodyKindLabel"
                >
                  <label paperLabel>{{ labels().httpBodyKind }}</label>
                  <input paperInput readonly #inputList />
                </paper-select-list>
              </paper-textfield>

              @if (bodyKind() === 'formData') {
                <div class="table cols-form-data" formArrayName="responseFormData">
                  <div class="table-head">
                    <span>{{ labels().blockId }}</span>
                    <span>{{ labels().httpFormDataKey }}</span>
                    <span>{{ labels().typeResponseData }}</span>
                    <span></span>
                  </div>
                  @for (row of responseFormData.controls; track $index; let i = $index) {
                    <div class="table-row" [formGroupName]="i">
                      <span class="id-cell" paperText size="m">{{ row.value.blockId }}</span>
                      <paper-textfield size="s">
                        <input paperInput type="text" formControlName="formDataKey" />
                      </paper-textfield>
                      <paper-textfield size="s">
                        <paper-select-list
                          formControlName="typeRequestData"
                          [variants]="responseFormDataTypeVariants"
                          [labelResolver]="resolveDataTypeLabel"
                        >
                          <input paperInput readonly #inputList />
                        </paper-select-list>
                      </paper-textfield>
                      <button type="button" paperButton size="s" (click)="removeResponseFormData(i)">
                        {{ labels().removeBlock }}
                      </button>
                    </div>
                  }
                  <button type="button" paperButton size="s" (click)="addResponseFormData()">
                    {{ labels().addBlock }}
                  </button>
                </div>
              } @else {
                <p class="body-block-id" paperText size="s">
                  {{ labels().blockId }}: {{ form.controls.bodyBlockId.value }}
                </p>
                @if (bodyKind() === 'file') {
                  <paper-textfield size="m">
                    <paper-select-list
                      formControlName="nonFormBodyType"
                      [variants]="responseFileTypeVariants"
                      [labelResolver]="resolveDataTypeLabel"
                    >
                      <label paperLabel>{{ labels().httpFileType }}</label>
                      <input paperInput readonly #inputList />
                    </paper-select-list>
                  </paper-textfield>
                }
                @if (bodyKind() === 'bytes') {
                  <paper-textfield size="m">
                    <paper-select-list
                      formControlName="nonFormBodyType"
                      [variants]="responseBytesTypeVariants"
                      [labelResolver]="resolveDataTypeLabel"
                    >
                      <label paperLabel>{{ labels().httpBytesType }}</label>
                      <input paperInput readonly #inputList />
                    </paper-select-list>
                  </paper-textfield>
                }
              }
            }
          }

          @if (activeResponseTab() === 'cookies') {
            <label class="flag-row" paperText size="s">
              <input paperCheckbox size="m" type="checkbox" formControlName="extractCookies" />
              {{ labels().httpUseSection }}
            </label>

            @if (extractCookies()) {
              <div class="table" formArrayName="responseCookies">
                <div class="table-head">
                  <span>{{ labels().blockId }}</span>
                  <span>{{ labels().httpCookieKey }}</span>
                  <span></span>
                </div>
                @for (row of responseCookies.controls; track $index; let i = $index) {
                  <div class="table-row" [formGroupName]="i">
                    <span class="id-cell" paperText size="m">{{ row.value.blockId }}</span>
                    <paper-textfield size="s">
                      <input paperInput type="text" formControlName="cookieFieldName" />
                    </paper-textfield>
                    <button type="button" paperButton size="s" (click)="removeResponseCookie(i)">
                      {{ labels().removeBlock }}
                    </button>
                  </div>
                }
                <button type="button" paperButton size="s" (click)="addResponseCookie()">
                  {{ labels().addBlock }}
                </button>
              </div>
            }
          }
        </div>
      </div>

      <div paperCard>
      <paper-textfield size="m">
        <paper-select-list
          formControlName="typeRequestData"
          [variants]="requestTypeVariants"
          [labelResolver]="resolveDataTypeLabel"
        >
          <label paperLabel>{{ labels().typeRequestData }}</label>
          <input paperInput readonly #inputList />
        </paper-select-list>
      </paper-textfield>

      <paper-textfield size="m">
        <paper-select-list
          formControlName="timeRequestOption"
          [variants]="timeOptionVariants"
          [labelResolver]="resolveTimeOptionLabel"
        >
          <label paperLabel>{{ labels().httpWhenSend }}</label>
          <input paperInput readonly #inputList />
        </paper-select-list>
      </paper-textfield>

      @if (showCountMode()) {
        <paper-textfield size="m">
          <paper-select-list
            formControlName="countMode"
            [variants]="countModeVariants"
            [labelResolver]="resolveCountModeLabel"
          >
            <label paperLabel>{{ labels().httpCountMode }}</label>
            <input paperInput readonly #inputList />
          </paper-select-list>
        </paper-textfield>
        @if (countMode() === 'count') {
          <paper-textfield size="m">
            <label paperLabel>{{ labels().httpCountRequest }}</label>
            <input paperInput type="number" formControlName="countRequest" />
          </paper-textfield>
        }
      }

      @if (showPeriod()) {
        <paper-textfield size="m">
          <label paperLabel>{{ labels().httpPeriodMs }}</label>
          <input paperInput type="number" formControlName="period" />
        </paper-textfield>
      }

      </div>

      <div class="response-section" paperCard>
        <p class="section-title" paperText size="m">{{ labels().httpRequestParams }}</p>

        <div class="response-tabs" role="tablist">
          <button
            type="button"
            class="response-tab"
            role="tab"
            [class.active]="activeRequestTab() === 'body'"
            (click)="setActiveRequestTab('body')"
          >
            {{ labels().httpExtractBody }}
          </button>
          <button
            type="button"
            class="response-tab"
            role="tab"
            [class.active]="activeRequestTab() === 'headers'"
            (click)="setActiveRequestTab('headers')"
          >
            {{ labels().httpExtractHeaders }}
          </button>
          <button
            type="button"
            class="response-tab"
            role="tab"
            [class.active]="activeRequestTab() === 'query'"
            (click)="setActiveRequestTab('query')"
          >
            {{ labels().httpQueryParams }}
          </button>
        </div>

        <div class="response-tab-panel">
          @if (activeRequestTab() === 'body') {
            <paper-textfield size="m">
              <paper-select-list
                formControlName="requestBodyType"
                [variants]="requestBodyTypeVariants"
                [labelResolver]="resolveRequestBodyTypeLabel"
              >
                <label paperLabel>{{ labels().httpBodyKind }}</label>
                <input paperInput readonly #inputList />
              </paper-select-list>
            </paper-textfield>

            @if (requestBodyType() === requestBodyTypes.JSON) {
              <paper-textfield size="m" class="json-editor">
                <label paperLabel>{{ labels().httpJsonBody }}</label>
                <textarea paperInput formControlName="jsonMessage" rows="8"></textarea>
              </paper-textfield>
            }

            @if (requestBodyType() === requestBodyTypes.FORM_DATA) {
              <div class="table cols-query" formArrayName="requestFormData">
                <div class="table-head">
                  <span>{{ labels().httpFormDataKey }}</span>
                  <span>{{ labels().httpHeaderValue }}</span>
                  <span>{{ labels().httpFromBlock }}</span>
                  <span></span>
                </div>
                @for (row of requestFormData.controls; track $index; let i = $index) {
                  <div class="table-row" [formGroupName]="i">
                    <paper-textfield size="s">
                      <input paperInput type="text" formControlName="formDataKey" />
                    </paper-textfield>
                    @if (showValueField(row.value.isInsertedFromBlock)) {
                      <paper-textfield size="s">
                        <input
                          paperInput
                          type="text"
                          formControlName="inlineValue"
                        />
                        @if (row.value.isInsertedFromBlock && isJsonRequestType()) {
                          <label paperLabel>{{ labels().httpJsonFieldPath }}</label>
                        }
                      </paper-textfield>
                    } @else {
                      <span class="value-placeholder"></span>
                    }
                    <label class="flag-row compact" paperText size="s">
                      <input paperCheckbox size="m" type="checkbox" formControlName="isInsertedFromBlock" />
                    </label>
                    <button type="button" paperButton size="s" (click)="removeRequestFormData(i)">
                      {{ labels().removeBlock }}
                    </button>
                  </div>
                }
                <button type="button" paperButton size="s" (click)="addRequestFormData()">
                  {{ labels().addBlock }}
                </button>
              </div>
            }
          }

          @if (activeRequestTab() === 'headers') {
            @if (contentTypeLocked() && autoContentType()) {
              <p class="hint" paperText size="s">
                content-type: {{ autoContentType() }} ({{ labels().httpContentTypeAuto }})
              </p>
            }
            <div
              class="table"
              [class.cols-query]="canInsertValueFromBlock()"
              [class.cols-query-no-from]="!canInsertValueFromBlock()"
              formArrayName="requestHeaders"
            >
              <div class="table-head">
                <span>{{ labels().httpHeaderName }}</span>
                <span>{{ labels().httpHeaderValue }}</span>
                @if (canInsertValueFromBlock()) {
                  <span>{{ labels().httpFromBlock }}</span>
                }
                <span></span>
              </div>
              @for (row of requestHeaders.controls; track $index; let i = $index) {
                <div class="table-row" [formGroupName]="i">
                  <paper-textfield size="s">
                    <input
                      paperInput
                      type="text"
                      formControlName="headerName"
                      [disabled]="contentTypeLocked() && row.value.headerName.trim().toLowerCase() === 'content-type'"
                    />
                  </paper-textfield>
                  @if (showValueField(row.value.isInsertedFromBlock)) {
                    <paper-textfield size="s">
                      <input
                        paperInput
                        type="text"
                        formControlName="headerValue"
                      />
                      @if (row.value.isInsertedFromBlock && isJsonRequestType()) {
                        <label paperLabel>{{ labels().httpJsonFieldPath }}</label>
                      }
                    </paper-textfield>
                  } @else {
                    <span class="value-placeholder"></span>
                  }
                  @if (canInsertValueFromBlock()) {
                    <label class="flag-row compact" paperText size="s">
                      <input paperCheckbox size="m" type="checkbox" formControlName="isInsertedFromBlock" />
                    </label>
                  }
                  <button type="button" paperButton size="s" (click)="removeRequestHeader(i)">
                    {{ labels().removeBlock }}
                  </button>
                </div>
              }
              <button type="button" paperButton size="s" (click)="addRequestHeader()">
                {{ labels().addBlock }}
              </button>
            </div>
          }

          @if (activeRequestTab() === 'query') {
            <div
              class="table"
              [class.cols-query]="canInsertValueFromBlock()"
              [class.cols-query-no-from]="!canInsertValueFromBlock()"
              formArrayName="queryParams"
            >
              <div class="table-head">
                <span>{{ labels().httpQueryKey }}</span>
                <span>{{ labels().httpHeaderValue }}</span>
                @if (canInsertValueFromBlock()) {
                  <span>{{ labels().httpFromBlock }}</span>
                }
                <span></span>
              </div>
              @for (row of queryParams.controls; track $index; let i = $index) {
                <div class="table-row" [formGroupName]="i">
                  <paper-textfield size="s">
                    <input paperInput type="text" formControlName="key" />
                  </paper-textfield>
                  @if (showValueField(row.value.isInsertedFromBlock)) {
                    <paper-textfield size="s">
                      <input
                        paperInput
                        type="text"
                        formControlName="value"
                      />
                      @if (row.value.isInsertedFromBlock && isJsonRequestType()) {
                        <label paperLabel>{{ labels().httpJsonFieldPath }}</label>
                      }
                    </paper-textfield>
                  } @else {
                    <span class="value-placeholder"></span>
                  }
                  @if (canInsertValueFromBlock()) {
                    <label class="flag-row compact" paperText size="s">
                      <input paperCheckbox size="m" type="checkbox" formControlName="isInsertedFromBlock" />
                    </label>
                  }
                  <button type="button" paperButton size="s" (click)="removeQueryParam(i)">
                    {{ labels().removeBlock }}
                  </button>
                </div>
              }
              <button type="button" paperButton size="s" (click)="addQueryParam()">
                {{ labels().addBlock }}
              </button>
            </div>
          }
        </div>
      </div>

      <label class="flag-row" paperText size="s">
        <input paperCheckbox size="m" type="checkbox" formControlName="isShowOutgoingRequests" />
        {{ labels().httpShowRequests }}
      </label>
      <label class="flag-row" paperText size="s">
        <input paperCheckbox size="m" type="checkbox" formControlName="isShowIncomingResponses" />
        {{ labels().httpShowResponses }}
      </label>
      <label class="flag-row" paperText size="s">
        <input paperCheckbox size="m" type="checkbox" formControlName="isSaveLogs" />
        {{ labels().httpSaveLogs }}
      </label>
      @if (isSaveLogs()) {
        <paper-textfield size="m">
          <label paperLabel>{{ labels().httpMaxLogs }}</label>
          <input paperInput type="number" formControlName="maxLogsCount" />
        </paper-textfield>
      }

      <label class="flag-row" paperText size="s">
        <input paperCheckbox size="m" type="checkbox" formControlName="isCanUserSendData" />
        {{ labels().isCanUserSendData }}
      </label>
    }
  </form>

  @if (!isDemoMode() && showSignalBlocks()) {
    <constructor-block-connections-ribbon
      direction="inputs"
      [matchAny]="true"
      [excludeBlockId]="startBlockId"
      [selectedIds]="inputBlocks()"
      (selectedIdsChange)="onInputBlocksChange($event)"
      [title]="labels().signalBlocks"
    />
  } @else if (!isDemoMode() && matchRequestType()) {
    <constructor-block-connections-ribbon
      direction="inputs"
      [matchDataType]="matchRequestType()"
      [excludeBlockId]="startBlockId"
      [selectedIds]="inputBlocks()"
      (selectedIdsChange)="onInputBlocksChange($event)"
      [title]="labels().inputBlocks"
    />
  }
</section>
